# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/
env/

# Logs
*.log
run_log.txt
error_log.txt

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
Thumbs.db
.DS_Store
